/* GENERELLE REGLER*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: #9CA5A4;
    width: 100%;
}



header {
    background-color: #B5A081;
    height: 50vh;
}

#sprog {
    max-width: 100px;
    max-height: 50px;
    margin-bottom: -50px;
}

footer {
    background-color: #B5A081;
    text-align: center;
    font-size: 16px;
    padding-top: 1em;
}

.footertekst {
    margin-top: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
}


h1 {
    text-align: center;
    font-size: 40px;
    margin: 0;
    margin-bottom: 40px;
    padding-top: 50px;
    font-family: helvetica;

}

h2 {
    text-align: center;
    font-family: helvetica;
}

h3 {
    font-family: helvetica;
}

p,
button {
    font-family: verdana;
}

#eksempel {
    font-size: 80%;
    text-align: center;
    opacity: 0.6;
}

#introtekst {
    margin-left: 10%;
    margin-right: 10%;
}

img {
    width: 50%;
}

#logo {
    width: 60%;
    margin-left: 22%;
}

article {
    text-align: center;
    font-size: 23px;
    line-height: 30px;
}

.example {
    text-align: center;

}

.emner {
    text-align: center;
}

.knap {
    margin: 2%;
    width: 40%;
    background-color: #D8B201;
    box-shadow: inset 0px 1px 0px 0px #D8B201;
    border-radius: 6px;
    border: 1px solid #D8B201;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-decoration: none;


}



.soegeknap {
    background-color: #384216;
    box-shadow: inset 0px 1px 0px 0px #384216;
    border-radius: 6px;
    border: 1px solid #384216;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528009;
}


.fa-search {
    color: #D8B201;
    margin-left: 30%;
}

video {
    width: 100%;
    margin-top: 2%;
}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: lightgray;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */


.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

}



.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}


@media all and (min-width: 812px) {
    header {
        height: 110vh;
    }

    video {
        width: 90%;
        display: block;
        margin: 0 auto;
        margin-top: 1%;
    }
}

@media all and (min-width: 1024px) {
    header {
        height: 40vh;
    }

    footer {
        bottom: 0;
        width: 100%;
        position: relative;
        height: 25%;
    }

    body {
        position: absolute;
    }

    @media all and (min-width: 1500px) {
        header {
            height: 50vh;
        }

        #logo {
            width: 30%;
            display: block;
            margin: 0 auto;
        }

        footer {
            bottom: 0;
            width: 100%;
            position: relative;
            height: 25%;
        }

        .footertekst {
            margin-bottom: 0px;
            margin-top: 0px;
            padding-top: 15px;
            padding-bottom: 15px;
        }

    }
}
